<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sidm.mgpgame" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true">

        //=================================Splash Screen=============================================
        <activity
            android:name=".Splashpage">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>


        //================================Home Page=================================================
        <activity
            android:name=".Homepage">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.default" />
            </intent-filter>

        </activity>

        //================================Menu Page=================================================
        <activity
            android:name=".Mainmenu">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.default" />
            </intent-filter>

        </activity>

        //===============================Gadget Page================================================
        <activity
            android:name=".Gadget">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.default" />
            </intent-filter>

        </activity>

        //===============================Achievement================================================
        <activity
            android:name=".Achievement">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.default" />
            </intent-filter>

        </activity>

        //====================================Avatar================================================
        <activity
            android:name=".Avatar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.default" />
            </intent-filter>

        </activity>

        //===============================Friend Page================================================
        <activity
            android:name=".Friend">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.default" />
            </intent-filter>

        </activity>

        //================================Shop Page=================================================
        <activity
            android:name=".Shop">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.default" />
            </intent-filter>

        </activity>

        //================================Game Page=================================================
        <activity
            android:name=".Gamepage">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.default" />
            </intent-filter>

        </activity>

        //================================Option Page=================================================
        <activity
            android:name=".Optionpage">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.default" />
            </intent-filter>

        </activity>

    </application>

</manifest>
